[Unit]
Description=Realm enabled home automation
After=syslog.target
After=network.target

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/home/pi/.nvm/versions/node/v10.17.0/bin/node /home/pi/control/src/index.js
Restart=always

# Give the script some time to startup
TimeoutSec=300

[Install]
WantedBy=multi-user.target

